<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Equapath</title>
  <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
  <div class="main-container">
    <h1>Welcome to Equapath!</h1>
    <div class="user-selection">
      <!-- Candidate Box -->
      <div class="candidate-box">
        <h2>Applicant</h2>
        <div class="menu">
          <a href="candidate_signin.html" class="button">Sign In</a>
          <a href="candidate_signup.html" class="button secondary-button">Sign Up</a>
        </div>
      </div>
      
      <!-- Recruiter Box -->
      <div class="recruiter-box">
        <h2>Recruiter</h2>
        <div class="menu">
          <a href="recruiter_signin.html" class="button">Sign In</a>
          <a href="recruiter_signup.html" class="button secondary-button">Sign Up</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>


